# Public (exposed to browser)
NEXT_PUBLIC_API_BASE_URL=https://dummyjson.com
NEXT_PUBLIC_APP_ENV=development
# Set to "true" to enable MSW mocking in development
NEXT_PUBLIC_MSW_ENABLED=false

# Server-only
NODE_ENV=development
